<script type="text/javascript" src="~/Scripts/ArticlePartialViewScript.js"></script>
<div class="col-lg-4">
    <div class="panel panel-default shadowhover">
        <div class="item" style="cursor: pointer;">
            <div id="clickNews" data-bind="click: function() { openDetails(Id) }, attr: { attrId: Id}" class="noshadowhover">
                <div class="panel-heading noshadowhover">
                    <h4 class="noshadowhover"><span class="noshadowhover" data-bind="trimText: Title, trimTextLength: 45"></span></h4>
                </div>
                <div class="panel-body noshadowhover">
                    <img data-bind="attr: { src: Image }" class="noshadowhover" onerror="this.onerror = '';">
                    <br>
                    <p class="noshadowhover"><span class="noshadowhover" data-bind="trimText: Description, trimTextLength: 350"></span></p>

                </div>
            </div>
        </div>
    </div>
</div> 