 
<link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
<script type="text/javascript" src="~/Scripts/ArticleDetailsScript.js"></script>

<script>
    localStorage.id = @ViewBag.articleId;  
    
</script>
<div id="articleContent">
    
    <div id="articleTitleDiv" >
        <label data-bind='text: title'/>
    </div >
    <div class="fluidMedia" >
        <iframe data-bind ="attr: { src: link}" sandbox="allow-same-origin" seamless></iframe>
    </div>
    <div  id="articleLinkDiv">
        <label> You can view original article content here: </label><a data-bind='text: link'> </a><br/>
        <button class="btn btn-primary myButton" onclick="AddToFavorites(5, 29)">Add to <b>favorites</b></button>
        <button class="btn btn-primary myButton">Remove from <b>favorites</b></button>
        <button class="btn btn-primary myButton">Add to <b>read later</b></button>
    </div>

</div>
 
