 <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="item" data-bind="click: function() { openDetails(Id) }" style="cursor: pointer;">
            <div class="panel-heading">
                <h4><span data-bind="trimText: Title, trimTextLength: 30"></span></h4>
            </div>
            <div class="panel-body">
                <img data-bind="attr: { src: Image }" onerror="this.onerror = '';">
                <br>
                <p><span data-bind="trimText: Description, trimTextLength: 350"></span></p>
            </div>
        </div>
    </div>
</div> 