 
<link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
<script type="text/javascript" src="~/Scripts/ArticleDetailsScript.js"></script>

<script>
    localStorage.id = @ViewBag.articleId;  
    
</script>
<div id="articleContent">
    
    <div id="articleTitleDiv" >
        <label data-bind='text: title'/>
    </div >
    <div class="fluidMedia" >
        <iframe data-bind ="attr: { src: link}" sandbox="allow-same-origin" seamless></iframe>
    </div>
    <div id="articleLinkDiv">
        <label> </label><a data-bind='text: link'> </a>
    </div>

</div>
 
