<div class="containerPro">
    <h2 align="center">Articles by subscription</h2>
    <div id="articlesSubscription">
        <div class="loadimage"><img src="~/fonts/load.gif"/>
        </div>
        <table class="table articlesbySubscription">
            <thead>
            <tr><th>Title</th><th>Link</th><th>Description</th></tr>
            </thead>
            <tbody data-bind="foreach: articles">
            <tr>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Link"></td>
                <td data-bind="text: Description"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/GetAllArticlesByProvider.js"></script>