<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Unread News</h1>
    </div>
</div>

<div>
    <div id="alertMessage" class="alert alert-info" style="display: none">
        <strong>Info!</strong> Here are no articles!
    </div>
    <div id="articlesSubscriptions" class="articles" data-bind="foreach: rows">
        <div class="row" data-bind="foreach: $data">
            @Html.Partial("ArticlesPartialView")
        </div>
    </div>
</div>
<div class="loadimage">
    <img src="~/fonts/load.gif" />
</div>
@Scripts.Render("~/bundles/GetArticlesBySelectedProviders")