@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    localStorage.providerId = @ViewBag.providerId;
</script>

<script src="~/Scripts/ProviderDescriptionScript.js"></script>

<div id="providerDescriptionContainer"> <!--main container-->
    <div> <!--header-->
        <img class="provideImg" data-bind="attr: { src: image }" />
        <h1 data-bind="text: name"></h1> <!--provider name-->
    </div>

    <div><!--description-->
        <p data-bind="text: description"></p>
    </div>
    <br/>
    <div> <!--buttons-->
        <button></button><!--sub/unsub-->
        <button></button><!--visit-->
    </div>
    <br />
     <div><!--start date-->
        <p>This provider on our resourse from <span data-bind="text: date"></span></p>
    </div>
</div>