@{
    Layout = null;
}
<script type='text/javascript' src="~/Scripts/knockout-3.4.0.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<form>
    <p>You have asked for <span data-bind='text: newsproviders().length'>&nbsp;</span> newsprovider(s)</p>
    <table data-bind='visible: newsproviders().length > 0'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Description</th>
                <th>RssImage</th>
                <th>SubscriptionDate</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: newsproviders'>
            <tr>
                <td><input class='required number' data-bind='value: Name, uniqueName: true' /></td>
                <td>
                    <input class='required number' data-bind='value: Link, uniqueName: true' />
                </td>
                <td>
                    <input class='required number' data-bind='value: Description, uniqueName: true' />
                </td>
                <td>
                    <input class='required number' data-bind='value: RssImage, uniqueName: true' />
                </td>
                <td>
                    <input class='required number' data-bind='value: SubscriptionDate, uniqueName: true' />
                </td>
                <td><a href='#' data-bind='click: $root.removePeople'>Delete</a></td>
            </tr>
        </tbody>
    </table>

    <button data-bind='click: addPeople'>Add newsprovider</button>
    <button data-bind='click: save' type='submit'>Submit</button>
</form>
<script>

    var NewsProviderModel = function () {
        var self = this;
        self.newsproviders = ko.observableArray([]);
        $.getJSON('/api/getall', function (data) {

                self.newsproviders(data);

            console.log(data);
        });




        self.addNewsProvider = function () {
            self.peoples.push({
                name: "",
                email: "",
                phone: ""
            });
        };

        self.removeNewsProvider = function (newsprovider) {
            self.newsprovider.remove(newsprovider);
        };

        self.save = function (form) {
            $.ajax({
                url: '/echo/json/',
                type: "POST",
                /*contentType: "application/json; charset=utf-8",*/
                data: ko.toJSON({ people: self }),
                dataType: 'json',
                success: function (data) {
                    //console.log(data);
                    //alert('data.result');
                    //console.log(data.result);
                }
            });

            //alert("Could now transmit to server: " + ko.utils.stringifyJson(self.peoples));
            //// To actually transmit to server as a regular form post, write this: ko.utils.postJson($("form")[0], self.gifts);
        };
    };


    ko.applyBindings(new NewsProviderModel);

    // Activate jQuery Validation
    //$("form").validate({
    //  submitHandler: PeopleModel.save
    //});


</script>