<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Manage content</h1>
    </div>
    <h3 class="padding-left-h3">Add channel</h3>
</div>

<div id="generalSubscriptions">
   <div id="subscription">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    Name: <input class="form-control" placeholder="Liga" data-bind="value: AddName" /><br>
                    Link: <input class="form-control" placeholder="wwww.liga.net" data-bind="value: AddLink" /><br>
                    Description: <input class="form-control" placeholder="Ежедневные новости Украины" data-bind="value: AddDescription" /><br><br>
                    <button class="btn btn-primary" data-bind="click: $root.addNewsProvider">Add channel</button>
                </div>
            </div>
        </form>
       <br>
       <div class="alert alert-success" id="successMessage">
           <strong>Success!</strong> You have been subscribed successfully.
       </div>
       <div class="alert alert-warning" id="warningMessage">
           <strong>Warning!</strong> You have subscribed on this channel.
       </div>
       <div class="alert alert-success" id="successDeleteMessage">
           <strong>Success!</strong> You have been unsubscribed successfully.
       </div>

        <form>
            <h3>
                <p>
                    You have subscribe for <span data-bind="text: newsproviders().length">&nbsp;</span> channel(s)
                </p>
            </h3>
            <table class="table" data-bind="visible: newsproviders().length > 0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>SubscriptionDate</th>
                        <th />
                    </tr>
                </thead>
                <tbody data-bind="foreach: newsproviders">
                    <tr>
                        <td>
                            <img class="subscription" data-bind="attr:{src: RssImage}" />
                        </td>
                        <td><span class="required number" data-bind="text: Name, uniqueName: true"></span></td>
                        <td>
                            <span class="required number" data-bind="text: Link, uniqueName: true"></span>
                        </td>
                        <td>
                            <span class="required number" data-bind="text: Description, uniqueName: true"></span>
                        </td>
                        <td>
                            <span class="required number" data-bind="text: SubscriptionDate, uniqueName: true"></span>
                        </td>
                        <td><a href="#" data-bind="click: $root.removeNewsProvider">Unsubscribe</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div id="availableChannel">
        <form>
            <h3>
                <p>
                    You can choose from available channel(s)
                </p>
            </h3>
            <table class="table" data-bind="visible: true">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th />
                    </tr>
                </thead>
                <tbody data-bind="foreach: availableChannels">
                    <tr>
                        <td>
                            <img class="subscription" data-bind="attr:{src: RssImage}" />
                        </td>
                        <td><span class="required number" data-bind="text: Name, uniqueName: true"></span></td>
                        <td>
                            <span class="required number" data-bind="text: Link, uniqueName: true"></span>
                        </td>
                        <td>
                            <span class="required number" data-bind="text: Description, uniqueName: true"></span>
                        </td>
                        <td><a href="#" data-bind="click: $root.addSubscriptionFromList">Subscribe</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@Scripts.Render("~/bundles/subscriptions")