<div id="subscription">
<form>
    <h1><p>You have subscribe for <span data-bind='text: newsproviders().length'>&nbsp;</span> newsprovider(s)
    </p></h1>
    <table class="table" data-bind='visible: newsproviders().length > 0'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Description</th>
            <th>RssImage</th>
            <th>SubscriptionDate</th>
            <th/>
        </tr>
        </thead>
        <tbody data-bind='foreach: newsproviders'>
        <tr>
            <td><span class='required number' data-bind='text: Name, uniqueName: true' /></td>
            <td>
                <span class='required number' data-bind='text: Link, uniqueName: true' />
            </td>
            <td>
                <span class='required number' data-bind='text: Description, uniqueName: true' />
            </td>
            <td>
                <span class='required number' data-bind='text: RssImage, uniqueName: true' />
            </td>
            <td>
                <span class='required number' data-bind='text: SubscriptionDate, uniqueName: true' />
            </td>
            <td><a href='#' data-bind='click: $root.removeNewsProvider'>Unsubscribe</a></td>
        </tr>
        </tbody>
    </table>
</form>

<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="wwww.liga.net" data-bind='value: AddLink'/>
        </div>
    </div>
    <button class="btn btn-primary" data-bind='click: $root.addNewsProvider'>Add newsprovider</button>
</form>
</div>
@Scripts.Render("~/bundles/subscriptions")