<div id="subscription">
<form>
    <h1><p>You have subscribe for <span data-bind="text: newsproviders().length">&nbsp;</span> channel(s)
    </p></h1>
    <table class="table" data-bind="visible: newsproviders().length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Description</th>
            <th >RssImage</th>
            <th>SubscriptionDate</th>
            <th/>
        </tr>
        </thead>
        <tbody data-bind="foreach: newsproviders">
        <tr>
            <td><span class="required number" data-bind="text: Name, uniqueName: true"></span></td>
            <td>
                <span class="required number" data-bind="text: Link, uniqueName: true"></span>
            </td>
            <td>
                <span class="required number" data-bind="text: Description, uniqueName: true"></span>
            </td>
            <td>
                <img class="required number" data-bind="attr:{src: RssImage}"/>
            </td>
            <td>
                <span class="required number" data-bind="text: SubscriptionDate, uniqueName: true"></span>
            </td>
            <td><a href="#" data-bind="click: $root.removeNewsProvider">Unsubscribe</a></td>
        </tr>
        </tbody>
    </table>
</form>

<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="wwww.liga.net" data-bind="value: AddLink"/>
        </div>
    </div>
    <button class="btn btn-primary" data-bind="click: $root.addNewsProvider">Add newsprovider</button>
</form>
</div>

<div id="availableChannel">
    <form>
        <h1>
            <p>You can choose from available channel(s)
            </p>
        </h1>
        <table class="table" data-bind="visible:">
            <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Description</th>
                <th>RssImage</th>
                <th>SubscriptionDate</th>
                <th/>
            </tr>
            </thead>
            <tbody data-bind="foreach: alailableChannels">
            <tr>
                <td><span class="required number" data-bind="text: alailableName, uniqueName: true"></span></td>
                <td>
                    <span class="required number" data-bind="text: alailableLink, uniqueName: true"></span>
                </td>
                <td>
                    <span class="required number" data-bind="text: alailableDescription, uniqueName: true"></span>
                </td>
                <td>
                    <span class="required number" data-bind="text: alailableRssImage, uniqueName: true"></span>
                </td>
                <td><a href="#" data-bind="click: $root.removeNewsProvider">Subscribe</a></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

@Scripts.Render("~/bundles/subscriptions")