@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/UserToReadLaterArticleScript.js"></script>

<div class="readArticles" id="readArticlesContainer" data-bind="foreach: articlesList">
    <img data-bind="attr: { src: image }" />
    <div class="textContent">
        <a data-bind="attr: { href: articleDetailLink }">
            <h3><span data-bind="text: title"></span></h3>
            <p><span data-bind="text: articleText"></span></p>
        </a>
    </div>
    <hr class="between" />
</div>