@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/UserReadArticleScript.js"></script>

<div class="readArticles" data-bind="foreach: $data">
    <img data-bind="attr: { 'src': image }" />
    <div class="textContent">
        <h3><span data-bind="text: title"></span></h3>
        <p><span data-bind="text: articleText"></span></p>
    </div>
    <hr class="between" />
</div>