<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Read later list of articles</h1>
    </div>
</div>
<div class="loadimage">
    <img src="~/fonts/load.gif"/>
</div>
<div id="alertMessage" class="alert alert-info" style="display:none">
    <strong>Info!</strong> Here are no articles!
</div>
<div>
    <div id="readArticlesContainer" class="articles" data-bind="foreach: rows">
        <div class="row" data-bind="foreach: $data">
            @Html.Partial("ArticlesPartialView")
        </div>
    </div>
</div>
<script src="~/Scripts/UserToReadLaterArticleScript.js"></script>