<div class="wrapper">
    <div class="row">
        <div class="masonry">
            <div id="favoriteArticles" data-bind="foreach: articles">
                <div class="col-md-4">
                    <div class="item">
                        <h4><span data-bind="text: Title"></span></h4>
                        <img data-bind="attr: { src: Image }" onerror="this.onerror='';">
                        <br>
                        <p><span data-bind="text: Description"></span></p>
                        <a align="right" data-bind="attr: { href:'/Main/ArticleContentDetails?articleId=' + Id }" class="btn btn-primary btn-lg active" role="button">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/favoritearticles")