body {
    padding-top: 50px;
    padding-bottom: 20px;
}
 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 
.dl-horizontal dt {
    white-space: normal;
}

 .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1%;
    }

        .main img {
            width: 40%;
            height: 20%;
            max-width: 200px;
            float: none;
            vertical-align: middle;
            padding-bottom: 1%;
        }

    .textContent {
        width: 60%;
        padding-left: 2%;
        max-height: 10%; 
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100px;
    }

    .between {
        border: 1px solid gray;
        margin-left:10px;
        margin-right:10px;
        width: 100%;
}
 input,
select,
textarea {
    max-width: 280px;
}
 
ul {
    list-style: none;
    
}
.container { position:relative;
              padding:0 0 0 255px; }
#sidebar {
    position:absolute;
    top:0; 
    bottom:0; 
    left:0;
    width:250px;
    height: auto;
    background:#D4D4D5;
    border-radius: 5px;
}

.itemButton {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#logOutBtn {
    background-color: #4CAF50; 
    border: none;
    float: right;
    vertical-align: central;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#footer{
    height: 20px;
    width: auto;
    background:#D4D4D5;
    bottom: 0;
}

#content {
    min-height: 370px;
}
 .side-bar-content {
     padding: 20px; 
 }

ul {
    padding-left: 10px;
}
#copyrightLabel {
text-align:center;
}
.styledselect {
   height: 29px;
      width: 200px; 
    margin: 15px;
    text-align: center;    
}

 .myButton {    
    border: none;
	 
	display:inline-block;
	cursor:pointer;
	 
    width: 200px;
    margin: 15px;
}

#articleContentDiv {
    margin: 30px;
    border-radius: 6px;
    background:
}

#articleLinkDiv{}


#articleTitleDiv {
    text-align: center;

}




