body {
    padding-top: 50px;
    padding-bottom: 20px;
}
 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 
.dl-horizontal dt {
    white-space: normal;
}

 input,
select,
textarea {
    max-width: 280px;
}
 
ul {
    list-style: none;
    
}
.container { position:relative;
              padding:0 0 0 255px; }
#sidebar {
    position:absolute;
    top:0; 
    bottom:0; 
    left:0;
    width:250px;
    height: auto;
    background:#D4D4D5;
    border-radius: 5px;
}

.itemButton {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#logOutBtn {
    background-color: #4CAF50; 
    border: none;
    float: right;
    vertical-align: central;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#footer{
    height: 20px;
    width: auto;
    background:#D4D4D5;
    bottom: 0;
}
 .side-bar-content {
     padding: 20px;

 }


#copyrightLabel {
text-align:center;
}
 .styled-select {
   height: 29px;
   overflow: hidden;
      width: 200px;
     background-color: #582A72;
    color: white;
    margin: 15px;
}
    select.selected { text-align:center; } 
 .myButton {    
    border: none;
	 background-color:#498F96;
	-webkit-border-radius:4px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
    width: 200px;
    margin: 15px;
}
 


 
 
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 8px;
}
 
 
.green   { background-color: #4CAF50; } 
 
 

 